.button {
  color: white;
  padding: 15px 32px;
  font-size: 30px;
  border-radius: 4px;
  cursor: pointer;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}